# DBH-API contents and metadata

Import Pyton pandas

In [9]:
import pandas as pd

Get content from the API and put it in data frame.

In [11]:
df = pd.read_csv("https://api.nsd.no/dbhapitjener/Tabeller/bulk-csv?rptNr=001", sep=',')

Information about data set

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
Emne             98 non-null object
Tabell id        98 non-null int64
Tabellnavn       98 non-null object
Bulk tabell      98 non-null bool
Variabelliste    98 non-null object
dtypes: bool(1), int64(1), object(3)
memory usage: 3.3+ KB

Shape give us number of rows and columns

In [12]:
df.shape

(98, 5)

The top of dataset

In [8]:
df.head()

,Emne,Tabell id,Tabellnavn,Bulk tabell,Variabelliste
0,Ikke tilordnet emne,1,API innhold,True,"Emne,Tabell id,Tabellnavn,Bulk tabell,Variabel..."
1,Ikke tilordnet emne,2,API metadata,True,"Tabell id,Tabellnavn,Variabel navn,Datatype,Da..."
2,Studentdata,60,Studenter fordelt på alder,False,"Institusjonskode,Avdelingskode,Årstall,Semeste..."
3,Studentdata,62,Utvekslingsavtaler,False,"Utvekslingsavtale,beskrivelse,Sort"
4,Studentdata,66,Desentralisering og fjernundervisning,False,"Årstall,Institusjonskode,Avdelingskode,Opptaks..."

Get API metadata and put in dataframe

In [7]:
metadata = pd.read_csv("https://api.nsd.no/dbhapitjener/Tabeller/bulk-csv?rptNr=002",  sep=',')

Top of metadata dataset

In [8]:
metadata.head()

,Tabell id,Tabellnavn,Variabel navn,Datatype,Datalengde,Sortering,Kodefelt,Group by (forslag),Kommentar
0,60,Studenter fordelt på alder,Alder,int,NaN,6.0,,,NaN
1,60,Studenter fordelt på alder,Andel av heltid,decimal,"3,2",34.0,,J,NaN
2,60,Studenter fordelt på alder,Andel praksis,float,NaN,39.0,,J,NaN
3,60,Studenter fordelt på alder,Antall kvinner,int,NaN,8.0,,,NaN
4,60,Studenter fordelt på alder,Antall menn,int,NaN,8.0,,,NaN

Meta data for specific dataset

In [13]:
meta_table_373 = metadata[metadata['Tabell id'] == 373]

In [14]:
meta_table_373.head()

,Tabell id,Tabellnavn,Variabel navn,Datatype,Datalengde,Sortering,Kodefelt,Group by (forslag),Kommentar
422,373,Vitenskapelig publisering,Antall publikasjoner,int,NaN,7.0,,,NaN
423,373,Vitenskapelig publisering,Avdelingskode,char,6,2.0,J,J,Kobling: 210-Avdeling
424,373,Vitenskapelig publisering,Forfatterandeler,decimal,"9,4",9.0,,,NaN
425,373,Vitenskapelig publisering,Forfatterandeler kvinner,decimal,"9,4",10.0,,,NaN
426,373,Vitenskapelig publisering,Forfatterandeler menn,decimal,NaN,10.0,,,NaN